{
    "presets": [
        "es2015-node4"
    ],
    "env": {
        "development": {
            "plugins": [
                "ramda",
                "transform-object-rest-spread",
                "syntax-flow",
                "typecheck",
                "transform-flow-strip-types",
                "istanbul"
            ]
        },
        "production": {
            "plugins": [
                "ramda",
                "transform-object-rest-spread",
                "syntax-flow",
                "transform-flow-strip-types"
            ]
        }
    }
}
